$grey-350 : #9A9AA9;
$primary: #605BFF;

.nav-style {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.82px;
    color: $grey-350;
}

.activenav {
    color: $primary !important;
}

.activenav path {
    fill : $primary;
}

.activenav g {
    opacity: 1;
}